/* first mobile */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    border:2px black solid;
    height:auto;
}

main {
    border:1px red solid;
    height: auto;
    padding: 25px;
    background-color: #fafafa;
}

header {
    border:4px green solid;
    width: 100%;
    margin-bottom: 5rem;
}

h1 {
    width: 100%;
    border:1px red solid;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: hsl(234, 12%, 34%);
    /* font-size: 0.9375rem; */
    font-size: 1.5rem;
    text-align: center;
}

h2 {
    width: 100%;
    border:1px red solid;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: hsl(234, 12%, 34%);
    /* font-size: 0.9375rem; */
    font-size: 1.5rem;
    text-align: center;
}

p {
    width: 100%;
    border:1px red solid;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: hsl(229, 6%, 66%);
    font-size: 0.9375rem;
    /* font-size: 1.2rem; */
    text-align: center;
    margin-top: 2rem;
}

section {
    width: 100%;
    /* border:2px yellow solid; */
}

article {
    width: 100%;
    padding: 25px;
    height: auto;
    box-shadow: 0 15px 20px #e0e9f2;
    border-radius: 3%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

article:first-of-type{
    border-top: 3px hsl(180, 62%, 55%) solid;
    margin-top: 2rem;
}

article:nth-of-type(2){
    border-top:3px hsl(0, 78%, 62%) solid;
}

article:nth-of-type(3){
    border-top:3px hsl(34, 97%, 64%) solid;
}

article:nth-of-type(4){
    border-top:3px hsl(212, 86%, 64%) solid;
}

h3 {
    width: 100%;
    /* border:1px red solid; */
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: hsl(234, 12%, 34%);
    font-size: 1.3rem;
    /* font-size: 1.2rem; */
   
}

span {
    width: 100%;
    /* border:1px red solid; */
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: hsl(229, 6%, 66%);
    font-size:  0.9375rem;
    margin-top: 1rem; 
}

img {
    align-self: flex-end;
    margin-top: 1.3rem;
}