/* first mobile */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    border:2px black solid;
    height: 100%;
}

main {
    border:1px red solid;
    height: 100%;
    padding: 25px;
    background-color: #fafafa;
}

header {
    border:4px green solid;
    width: 100%;
}

h1 {
    width: 100%;
    border:1px red solid;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: hsl(234, 12%, 34%);
    /* font-size: 0.9375rem; */
    font-size: 1.5rem;
    text-align: center;
}

h2 {
    width: 100%;
    border:1px red solid;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: hsl(234, 12%, 34%);
    /* font-size: 0.9375rem; */
    font-size: 1.5rem;
    text-align: center;
}

p {
    width: 100%;
    border:1px red solid;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: hsl(229, 6%, 66%);
    font-size: 0.9375rem;
    /* font-size: 1.2rem; */
    text-align: center;
    margin-top: 2rem;
}